<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		    <% for(var i=0; i< docs.length; i++){ %>
				<div class="carousel slide" id="carousel-926043">
					<div class="carousel-inner">
						<div class="item active">
					   		<a href=/club1?clubname=<%=docs[i].clubName%> title="聯盟詳細資料">
								<img alt="" src="assets/img/club001.jpg" />
								<div class="carousel-caption">
									<h4>
										<%= docs[i].clubName %>
									</h4>
									<p>
										<%= docs[i].clubInfo %>
									</p>							
								</div>
							</a>						
						</div>
					</div> <a data-slide="prev" href="#carousel-926043" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-926043" class="right carousel-control">›</a>
				</div>
			<% } %>
		</div>
	</div>
</div>
