<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>
					聯盟名稱
				</h1>
				<input type="text" name= 'un' placeholder="聯盟名稱" class="form-control">
			</div>
			<div class="page-header">
				<h1>
					聯盟介紹
				</h1>
				<input type="text" name= 'un' placeholder="聯盟介紹" class="form-control">
			</div>
			<form>
				<fieldset>
					<legend>上傳圖片</legend> <label>檔案路徑</label><input type="text" /><button class="btn" type="submit">選擇圖檔</button>
				</fieldset>
			</form>
			<form>
				<fieldset>
					<legend>管理規章</legend>
					<p>
						<label>籃球幫為免費的籃球社群經營平台，加入的聯盟須同意下列管理規章。</label>
					</p>
					<ol>
						<li>
							<label>不可經營賭博性質籃球聯賽。</label>
						</li>
						<li>
							<label>同意平台使用球員資料作為宣傳用途。</label>
						</li>
					</ol> <label class="checkbox"><input type="checkbox" />同意</label> <button class="btn" type="submit">提交</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>