<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-search">
				<input class="input-medium search-query" type="text" /> <button type="submit" class="btn">搜尋</button>
			</form>
			<ul class="thumbnails">
				<li class="span4">
					<div class="thumbnail">
						<img alt="300x200" src="assets/img/free001.jpg" />
						<div class="caption">
							<p class="p1">
								<strong>Lebron James</strong>
							</p>
							<p class="p2">
								打球地點:台北南港
							</p>
							<p class="p2">
								身高:180 cm
							</p>
							<p class="p2">
								體重:80 kg
							</p>
							<p class="p2">
								生日:12/7
							</p>
							<p class="p2">
								防守位置:大前鋒
							</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<img alt="300x200" src="assets/img/free002.jpg" />
						<div class="caption">
							<p class="p1">
								<strong>Kobe ryant</strong>
							</p>
							<p class="p2">
								打球地點:澎湖馬公
							</p>
							<p class="p2">
								身高:175 cm
							</p>
							<p class="p2">
								體重:70 kg
							</p>
							<p class="p2">
								生日:4/17
							</p>
							<p class="p2">
								防守位置:得分後衛
							</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<img alt="300x200" src="assets/img/free003.jpg" />
						<div class="caption">
							<p class="p1">
								<strong>Kvein Durant</strong>
							</p>
							<p class="p2">
								打球地點:高雄市
							</p>
							<p class="p2">
								身高:175 cm
							</p>
							<p class="p2">
								體重:80 kg
							</p>
							<p class="p2">
								生日:1/1
							</p>
							<p class="p2">
								防守位置:得分後衛
							</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>