<script src="jcrop/js/jquery.min.js"></script>
<script src="jcrop/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" href="jcrop/css/jquery.Jcrop.css" type="text/css" />

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="carousel slide" id="carousel-926043">
				<div class="carousel-inner">
					<div class="item active">
					    <a href="/club" title="聯盟詳細資料">
						<img alt="" src="assets/img/club001.jpg" />
						<div class="carousel-caption">
							<h4>
								Somebody假日聯盟
							</h4>
							<p>
								Somebody室內籃球聯盟成立於2005年七月，是一個集結了對籃球有熱情的同好而創立的團隊。
								在創立之初，充滿著困難與挫折，但是憑著一股對籃球的熱情，我們還是努力的面對各種挑戰。
								至今已走過八個年頭，從創立時期的困難重重到現在的穩定成長，我們始終秉持著一個信念-
								「提供一個舒適的空間，讓熱愛籃球的人愉快的打球。」我們要盡力的舉辦一場精緻而完美的比賽，
								提供如質如期的五星級球場服務。
							</p>							
						</div>
						</a>
					</div>
				</div> <a data-slide="prev" href="#carousel-926043" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-926043" class="right carousel-control">›</a>
			</div>
			<div class="carousel slide" id="carousel-617671">
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="assets/img/club011.jpg" href='/club' id='target'/>
						<script language="Javascript">
    						jQuery(function($) {
        						$('#target').Jcrop();
    						});
						</script>
						<div class="carousel-caption">
							<h4>
								中正盃籃球聯盟
							</h4>
							<p>
								一、各隊須於比賽前二十分鐘到場，並向紀錄台報到。逾規定比賽時間十分鐘者，作棄權論，以大會時間為準，不得異議。
								二、比賽時請依規定著裝參賽，參賽球員球衣背號不可任意更改及頂替。
								三、球員必須穿著統一球隊制服，未穿球衣者一律不准出場。
							</p>
						</div>
					</div>
				</div> <a data-slide="prev" href="#carousel-617671" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-617671" class="right carousel-control">›</a>
			</div>
			<div class="carousel slide" id="carousel-993491">
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="assets/img/club021.jpg" />
						<div class="carousel-caption">
							<h4>
								澎湖籃協
							</h4>
							<p>
								102年度澎湖縣首長盃籃球錦標賽,1月26日至2月3日,於澎湖縣立體育館舉行,歡迎民眾踴躍前往參觀。
							</p>
						</div>
					</div>
				</div> <a data-slide="prev" href="#carousel-993491" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-993491" class="right carousel-control">›</a>
			</div>
		</div>
	</div>
</div>
