<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="carousel slide" id="carousel-926043">
				<div class="carousel-inner">
					<div class="item active">					    
						<img alt="" src="assets/img/team001.jpg" />
						<div class="carousel-caption">
							<h4>
								Buzzer Beat
							</h4>
							<p>
								成立於2012年底，今年的目標是稱霸南港。在鐵血教頭的整軍下，這季戰力達到前所未有的高峰。陣中先發五虎個個身手矯健，能切擅投，掐死對手跟踩死螞蟻一樣簡單。拿到總冠軍之後計劃加入ＳＢＬ成為第一支非企業贊助的球隊。以目前的實力極有可能是最後跟璞園爭冠的大熱門。關鍵是我們的中鋒能否扛住Davis，讓我們繼續看下去...
							</p>							
						</div>						
					</div>
				</div> <a data-slide="prev" href="#carousel-926043" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-926043" class="right carousel-control">›</a>
			</div>			
			<div class="page-header">
				<h1>
					賽程
				</h1>
			</div><ul class="thumbnails">			    
				<li class="span4">
					<div class="thumbnail">
						<div class="caption">
							<h3>
								9/8 16:00 vs. A team
							</h3>
							<p>
								 <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<div class="caption">
							<h3>
								9/15 12:00 vs. B team
							</h3>
							<p>
								 <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<div class="caption">
							<h3>
								9/22 13:00 vs. C team
							</h3>
							<p>
								 <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
			</ul>
			<div class="page-header">
				<h1>
					球員資料
				</h1>
			</div><ul class="thumbnails">
				<li class="span4">
					<div class="thumbnail">
						<img alt="300x200" src="assets/img/player0001.jpg" />
						<div class="caption">
							<h3>
								Alen Liu
							</h3>
							<p>
								背號:7
							</p>
							<p>
								身高:180 cm
							</p>
							<p>
								體重:80 kg
							</p>
							<p>
								生日:12/7
							</p>
							<p>
								防守位置:得分後衛
							</p>							
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<img alt="300x200" src="assets/img/player0002.jpg" />
						<div class="caption">
							<h3>
								N Othing Chan
							</h3>
							<p>
								背號:9
							</p>
							<p>
								身高:175 cm
							</p>
							<p>
								體重:70 kg
							</p>
							<p>
								生日:4/17
							</p>
							<p>
								防守位置:控球後衛
							</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
				<li class="span4">
					<div class="thumbnail">
						<img alt="300x200" src="assets/img/player0003.jpg" />
						<div class="caption">
							<h3>
								Pin Wang
							</h3>
							<p>
								背號:3
							</p>
							<p>
								身高:175 cm
							</p>
							<p>
								體重:80 kg
							</p>
							<p>
								生日:1/1
							</p>
							<p>
								防守位置:小前鋒
							</p>
							<p>
								<a class="btn btn-primary" href="#">浏览</a> <a class="btn" href="#">分享</a>
							</p>
						</div>
					</div>
				</li>
			</ul>
			<table class="table">
				<thead>
					<tr>
						<th>
							姓名
						</th>
						<th>
							兩分球出手
						</th>
						<th>
							兩分球投中
						</th>
						<th>
							兩分球命中率％
						</th>
						<th>
							三分球出手
						</th>
						<th>
							三分球投中
						</th>
						<th>
							三分球命中率％
						</th>
						<th>
							得分
						</th>
						<th>
							進攻籃板
						</th>
						<th>
							防守籃板
						</th>
						<th>
							籃板總數
						</th>
						<th>
							助攻
						</th>
						<th>
							抄截
						</th>
						<th>
							阻攻
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Alen Liu
						</td>
						<td>
							100
						</td>
						<td>
							50
						</td>
						<td>
							50%
						</td>
						<td>
							10
						</td>
						<td>
							5
						</td>
						<td>
							50%
						</td>
						<td>
							115
						</td>
						<td>
							10
						</td>
						<td>
							10
						</td>
						<td>
							20
						</td>
						<td>
							5
						</td>
						<td>
							5
						</td>
						<td>
							5
						</td>
					</tr>
					<tr class="success">
						<td>
							N Othing Chao
						</td>
						<td>
							100
						</td>
						<td>
							50
						</td>
						<td>
							50%
						</td>
						<td>
							10
						</td>
						<td>
							5
						</td>
						<td>
							50%
						</td>
						<td>
							115
						</td>
						<td>
							10
						</td>
						<td>
							10
						</td>
						<td>
							20
						</td>
						<td>
							5
						</td>
						<td>
							5
						</td>
						<td>
							5
						</td>
					</tr>
					<tr class="error">
						<td>
							Pin Wang
						</td>
						<td>
							100
						</td>
						<td>
							50
						</td>
						<td>
							50%
						</td>
						<td>
							10
						</td>
						<td>
							5
						</td>
						<td>
							50%
						</td>
						<td>
							115
						</td>
						<td>
							10
						</td>
						<td>
							10
						</td>
						<td>
							20
						</td>
						<td>
							5
						</td>
						<td>
							5
						</td>
						<td>
							5
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				<a class="btn" href="#">分享</a>
			</p>
		</div>
	</div>
</div>